.background {
  margin-left: 16px;
  margin-right: 16px;
  height: 100dvh;

  @media only screen and (min-width: 1600px) and (max-width: 2560px) {
    margin: 0;
  }
}

.width-spacing {
  margin: auto auto;
  @media only screen and (min-width: 1201px) and (max-width: 2560px) {
    width: 75%;
  }
}

h1 {
  padding-top: 80px;
  padding-bottom: 20px;
  color: #fff;
  @media only screen and (min-width: 1px) and (max-width: 375px) {
    font-size: 32px;
  }
  @media only screen and (min-width: 376px) and (max-width: 640px) {
    font-size: 32px;
  }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
    font-size: 32px;
  }
  @media only screen and (min-width: 961px) and (max-width: 1200px) {
    font-size: 32px;
  }
  @media only screen and (min-width: 1201px) and (max-width: 2560px) {
    font-size: 32px;
  }
}

.grid {
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  @media only screen and (min-width: 1px) and (max-width: 375px) {
    grid-template-columns: auto auto;
  }
  @media only screen and (min-width: 376px) and (max-width: 640px) {
    grid-template-columns: auto auto;
  }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
    grid-template-columns: auto auto;
  }
  @media only screen and (min-width: 961px) and (max-width: 1200px) {
    grid-template-columns: auto auto auto;
  }
}

.game-modes-element-container {
  gap: 20px;
  min-height: 270px;
  max-height: 270px;
  transition-delay: 100ms;
  min-width: 200px;
  max-width: 200px;
  display: grid;
  padding: 60px 20px 60px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(105, 0, 0);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
  @media only screen and (min-width: 1px) and (max-width: 375px) {
    padding: 30px 20px 30px 20px;
    min-width: 160px;
    max-width: 160px;
  }
  @media only screen and (min-width: 376px) and (max-width: 640px) {
    padding: 30px 20px 30px 20px;
    min-width: 175px;
    max-width: 175px;
  }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
  }
}

.game-modes-element-container:hover {
  transition-delay: 0ms !important;
  transform: rotateY(180deg);
  .image-icon {
    display: none;
    transition: all 1s;
  }
  .img-question-mark {
    display: none;
    transition: all 1s;
  }
  .title {
    display: none;
    transition: all 1s;
  }
  .duration {
    display: none;
    transition: all 1s;
  }
  .description {
    display: block;
  }
}


.game-modes-element-container:nth-child(9) {
  @media only screen and (min-width: 1px) and (max-width: 960px) {
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 2560px) {
    margin-bottom: 20px;
  }
}

.game-modes-element-container:nth-child(10) {
  margin-bottom: 20px;
}

.image-icon {
  width: 100px;
}

.img-question-mark {
  width: 60px;
  height: 100px;
}

.title {
  color: #fff;
}

.duration {
  color: #fff;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.description {
  display: none;
  transform: rotateY(-180deg);
}
