<div class="background">
  <div class="width-spacing hidden">
    <div class="hidden">
      <h1>Current game modes</h1>
    </div>

    <div class="grid">
      <div
        class="game-modes-element-container hidden"
        *ngFor="let el of this.gameModeList"
      >
        <div class="cent">
          <img
            *ngIf="el.displayIcon != null"
            class="image-icon"
            src="{{ el.displayIcon }}"
            alt=""
          />
          <p class="title">{{ el.displayName }}</p>
          <p class="duration">{{ el.duration != null ? el.duration : "?" }}</p>
        </div>
        <div>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            laudantium facilis quibusdam aperiam impedit tempore molestias
            dolores nisi, itaque possimus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
