.background {
  height: fit-content;
  width: 50dvw;
  overflow-x: hidden;
  @media only screen and (min-width: 1px) and (max-width: 375px) {
    width: 70dvw;
    height: 70dvh;
  }
  @media only screen and (min-width: 376px) and (max-width: 640px) {
    width: 70dvw;
    height: 70dvh;
  }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
    width: 70dvw;
    height: 70dvh;
  }
  @media only screen and (min-width: 961px) and (max-width: 1200px) {
    width: 70dvw;
    height: 70dvh;
  }
  @media only screen and (min-width: 1201px) and (max-width: 2560px) {
  }
}

.header-container {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 32px;
}

.link-container {
  display: grid;
  text-align: center;
  grid-template-columns: auto;
}

.categories-link {
  padding: 20px;
  font-size: 24px;
  color: #fff;
  background-color: #16161c;
  text-decoration: none;
}

.even {
  background: linear-gradient(to left, #404047 34%, red 65%) right;
  background-size: 300% 100%;
}

.even:hover {
  transition: 1s;
  background-position: left;
}

.even:active {
  transition: 0.5s;
  background-position: left;
}

.odd {
  background: linear-gradient(to left, #16161c 34%, red 65%) right;
  background-size: 300% 100%;
}

.odd:hover {
  transition: 1s;
  background-position: left;
}

.odd:active {
  transition: 0.5s;
  background-position: left;
}

.hover-icon {
  cursor: pointer;
  font-size: 24px;
}
