.background {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  height: 100dvh;

  @media only screen and (min-width: 1600px) and (max-width: 2560px) {
    margin: 0;
  }
}

.container {
  height: 100dvh;
  margin: auto auto;
  @media only screen and (min-width: 1201px) and (max-width: 2560px) {
    width: 75%;
  }
}

h1 {
  padding-top: 80px;
  padding-bottom: 20px;
  color: #fff;
  @media only screen and (min-width: 1px) and (max-width: 375px) {
    font-size: 32px;
  }
  @media only screen and (min-width: 376px) and (max-width: 640px) {
    font-size: 32px;
  }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
    font-size: 32px;
  }
  @media only screen and (min-width: 961px) and (max-width: 1200px) {
    font-size: 32px;
  }
  @media only screen and (min-width: 1201px) and (max-width: 2560px) {
    font-size: 32px;
  }
}

.center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.maps-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-image {
  clip-path: polygon(
    30% 0%,
    52% 0,
    100% 25%,
    100% 70%,
    100% 100%,
    50% 100%,
    0 71%,
    0 0
  );
  position: relative;
  width: 60dvw;
  border: 15px solid black;
  margin: 10px;
  @media only screen and (min-width: 1px) and (max-width: 375px) {
    width: 84.5dvw;
  }
  @media only screen and (min-width: 376px) and (max-width: 640px) {
    width: 84.5dvw;
  }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
    width: 84.5dvw;
  }
  @media only screen and (min-width: 961px) and (max-width: 1200px) {
    width: 60dvw;
  }
}

.bg {
  background: rgba(170, 0, 0, 1) 0%;
}

.absolute {
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-image {
  font-size: 64px;
  position: absolute;
  bottom: 1%;
  left: 3%;
  transform: translate(-3%, -1%) skew(-20deg);
  @media only screen and (min-width: 1px) and (max-width: 375px) {
    font-size: 28px;
  }
  @media only screen and (min-width: 376px) and (max-width: 640px) {
    font-size: 28px;
  }
  @media only screen and (min-width: 500px) and (max-width: 640px) {
    font-size: 36px;
  }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
    font-size: 44px;
  }
}

.hidden-content {
  display: none;
}

.display-content {
  display: block;
}

.left-icon {
  z-index: 9999;
  padding: 5px;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.4430147058823529) 0%
  );
  border-radius: 60px;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-3%, -50%);
  transition: all 1s;
  opacity: 0.6;
  @media only screen and (min-width: 1px) and (max-width: 375px) {
    font-size: 24px;
  }
  @media only screen and (min-width: 376px) and (max-width: 640px) {
    font-size: 24px;
  }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
    font-size: 36px;
  }
  @media only screen and (min-width: 961px) and (max-width: 1200px) {
  }
}

.left-icon:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8071603641456583) 0%
  );
  opacity: 1;
}

.right-icon {
  z-index: 9999;
  padding: 5px;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.4430147058823529) 0%
  );
  border-radius: 60px;
  font-size: 48px;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-3%, -50%);
  transition: all 1s;
  opacity: 0.6;
  @media only screen and (min-width: 1px) and (max-width: 375px) {
    font-size: 24px;
  }
  @media only screen and (min-width: 376px) and (max-width: 640px) {
    font-size: 24px;
  }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
    font-size: 36px;
  }
}

.right-icon:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8071603641456583) 0%
  );
  opacity: 1;
}

.index-count {
  font-size: 72px;
  z-index: 9;
  position: absolute;
  top: 0;
  right: 3%;
  transform: translate(-3%, 0%) skew(-20deg);
  @media only screen and (min-width: 1px) and (max-width: 375px) {
    font-size: 44px;
  }
  @media only screen and (min-width: 376px) and (max-width: 640px) {
    font-size: 44px;
  }
  @media only screen and (min-width: 500px) and (max-width: 640px) {
    font-size: 52px;
  }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
    font-size: 62px;
  }
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  transform: translateX(0);
}
